<div class="container" style="background-color:rgb(177, 201, 177)" >
    <div class="row">
        <div class="col-md-12 offset-md">
            <div>
                <h3>Are you physically challenged?</h3>
                <label>Yes<input type="radio"></label>
                <label>No<input type="radio"></label>
            </div>
            <div>
                <h3>Have you ever been arrested?</h3>
                <label>Yes<input type="radio"></label>
                <label>No<input type="radio"></label>
            </div>
            <div>
                <h3>Have you ever been considered for employment in OFS?</h3>
                <label>Yes<input type="radio"></label>
                <label>No<input type="radio"></label>
            </div>
            <div>
                <h3>References(List any two professional references)</h3>
            </div>
            
            <table>
                <thead>
                
                </thead>
            </table>
            <label><input type="checkbox">I hereby certify that statement I made above is true , complete and correct of my knowledge and belief.</label>
            
            <br>
            <div>
                <div class="col-md-12 offset-md">
                    <div class="row mb-2">
                        <div class="col-md-6 form-group">
                            <button class="btn btn-primary" (click)="previous()">Previous</button>
                        </div>
                        <div class="col-md-6 form-group">
                            <button button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
            
                    </div>
            </div>
        </div>

    </div>
</div>
